body {
    width: 300px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #007bff;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls select, .controls input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #f0f0f0;
}

#time-chart {
    margin-bottom: 10px;
}